.parallax-container {
  height: 789px !important;
  text-align: center;
}

.col img {
  height: 200px;
}

@media screen and (max-width: 1010px) {
  .col img {
    height: 150px !important;
  }
}

@media screen and (max-width: 758px) {
  .col img {
    height: 100px !important;
  }
}

.center-title {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
}
